<%= search_form_for @search do |f| %>
  <tr id="list_search" class="collapse in">
    <td><%= f.text_field :name_cont %></td>
    <td><%= f.text_field :abbreviation_cont %></td>
    <td><%= f.submit "Search" %></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
