<div class="page-header">
<h2>States</h2>
</div>
<%= datagrid_form_for @grid, :method => :get, :url => admins_states_path %>

<div class="table-response">
<%= datagrid_table @grid, :order => false, :html => {class: "table"} %>
</div>
<%= will_paginate(@grid.assets) %>
