<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @users_contact.phone_id %>
</p>

<%= link_to 'Edit', edit_users_contact_path(@users_contact) %> |
<%= link_to 'Back', users_contacts_path %>
