
<div class="row">
  <div class="col-md-4">
    <%= link_to '<span class="fa fa-facebook"></span> Sign in with Facebook'.html_safe, connect_admins_socials_path, {class: "btn btn-social btn-facebook"} %>
  </div>
  <div class="col-md-8">
  <p>Hello</p>
  </div>
</div>
