<h1>Editing Admins Election Result</h1>

<%= render 'form', admins_election_result: @admins_election_result %>

<%= link_to 'Show', @admins_election_result %> |
<%= link_to 'Back', admins_election_results_path %>
